## Testing Impact of Gender and Program of Study

80 college students, 40 males and 40 females, were randomly assigned into 2 study programs. The dataset "scores.csv" shows their final exam grades. <br>

This notebook shows a two-way ANOVA test to study the effect of the study programs (factor A) and gender (factor B) on their grades.

**1.Import External and Internal Modules**

In [1]:
# External Modules
import os
import pandas as pd
import numpy as np
from scipy.stats import f

#Internal Modules
import anova_compute as anv

**2.Read Data**

In [2]:
df = pd.read_csv( 'scores.csv')
print(df.shape)
df.head(5)

(80, 4)

   participant  program gender  grade
0            1        1      F   81.4
1            2        1      F   87.1
2            3        1      F   71.3
3            4        1      F   72.6
4            5        1      F   78.3

**3.Inputs**

In [3]:
y = df['grade'].to_numpy()
x1 = df['program'].to_numpy()
x2 = df['gender'].to_numpy()
factor_1 = 'program'
factor_2 = 'gender'

**4.Generate Anova Table**

In [4]:
df = anv.get_anova_table(x1, x2, y, alpha =0.05, names = [factor_1, factor_2])
df

,SS,df,Mean Square,F_statistic,F_critical,p_value,Decision
Source,,,,,,,
program,233.2445,1,233.2445,12.490422,3.96676,0.0007,Reject Ho
gender,38.9205,1,38.9205,2.084223,3.96676,0.152938,Fail Reject Ho
Interaction,5317.0605,1,5317.0605,284.732675,3.96676,0.0,Reject Ho
Error,1419.2140,76,18.673868,,,,
Total,7008.4395,79,,,,,

**5.Conclusions**

We have convicing evidence that:
- there is significant difference in grades due to study programs.
- Gender has no significant effect on grades.
- There is significant interaction between factor A and factor B.