### Effect of Shelf's Width and Height on Bread Sales

The data consists of bread sales depending on the width and height of shelf.<br>
There are 12 stores and each store has one of the combinations of height and width.<br>
There are the same number of stroes (2) in each category.<br>
The objective is to test whether there is a difference in sales due to difference in shelf.

In [1]:
import os
import pandas as pd
import numpy as np
from scipy.stats import f
import matplotlib.pyplot as plt
from IPython.display import display, HTML

# Print DataFrames Horironzally
CSS = """.output{flex-direction: row;}"""
HTML('<style>{}</style>'.format(CSS))

**1.Import External and Internal Modules**

In [2]:
# External Modules
import os
import pandas as pd
import numpy as np
from scipy.stats import f
from IPython.display import display, HTML

CSS = """.output {flex-direction: row;}"""
HTML('<style>{}</style>'.format(CSS))

#Internal Modules
import anova_compute as anv

**2.Data**

In [3]:
sales = np.array([47,43,46,40,62,68,67,71,41,39,42,46])
height = np.array([1,1,1,1,2,2,2,2,3,3,3,3])
width = np.array([1,1,2,2,1,1,2,2,1,1,2,2])

# Create Dataframe
df = pd.DataFrame({'sales': sales, 'height': height, 'width': width})

# Display main dataframe and the different averages
display(df.head(6))
display(df.groupby(['height','width']).mean())
display(df.groupby(['height'])[['sales']].mean())
display(df.groupby(['width'])[['sales']].mean())

   sales  height  width
0     47       1      1
1     43       1      1
2     46       1      2
3     40       1      2
4     62       2      1
5     68       2      1

              sales
height width
1      1       45.0
       2       43.0
2      1       65.0
       2       69.0
3      1       40.0
       2       44.0

        sales
height
1        44.0
2        67.0
3        42.0

       sales
width
1       50.0
2       52.0

**3. Inputs**

In [4]:
y = sales
x1 = height
x2 = width
factor_1 = 'height'
factor_2 = 'width'

**4.Generate Anova Table**

In [5]:
df = anv.get_anova_table(x1, x2,  y, alpha =0.05, names = [factor_1, factor_2])
df

,SS,df,Mean Square,F_statistic,F_critical,p_value,Decision
Source,,,,,,,
height,1544.0,2,772.0,74.709677,5.143253,0.000058,Reject Ho
width,12.0,1,12.0,1.16129,5.987378,0.322605,Fail Reject Ho
Interaction,24.0,2,12.0,1.16129,5.143253,0.374697,Fail Reject Ho
Error,62.0,6,10.333333,,,,
Total,1642.0,11,,,,,

**5.Conclusions**

We have convicing evidence that:

- there is significant difference in mean sales due to shelves height but not due to width.
- Width and Height interaction is not significant.